/* A little pizzazz borrowed from http://bettermotherfuckingwebsite.com/, because why not? */
body{margin:40px
auto;max-width:650px;line-height:1.6;font-size:24px;color:#444;padding:0
10px}h1,h2,h3{line-height:1.2}

/* Syllabus site specific styling: */

#index main {
  display: grid;
  grid-template-columns: 75% 25%;
}
